{% extends 'main.html' %}

{% block content %}
{% load static %}


<div class="content" style="margin-left: 15px;margin-right: 15px;">
    <form  enctype="multipart/form-data" action="{% url 'filter' %}" class="logform" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="sel1"> Semester filter: </label>
            <select class="loginput" name="semester">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <button class="btn btn-success" type="submit">Filter</button>
        </br>
    </form>
    <div class="containercard">
        <div class="row">
        {% if mat|length == 0 %}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">No Materials Found</h5>
                        <p class="card-text">No Materials Found</p>
                    </div>
                </div>
            </div>
        {% else %}
         {% for m in mat %} 
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card" style="border-radius: 5px;">
                    <a class="img-card" href="{% url 'explore' m.id %}">
                        {% if m.thumbnail == "" %}
                            {% if m.type == "document" %}
                            <img src='{% static "images/document.png" %}' class="card-img-top" alt="{{m.title}}" height="350">
                            {% elif m.type == "link" %}
                            <img src='{% static "images/link.png" %}'"static/images/link.png" class="card-img-top" alt="{{m.title}}" height="350">
                            {% else %}
                            <img src='{% static "images/video.png" %}'"static/images/video.png" class="card-img-top" alt="{{m.title}}" height="350">
                            {% endif %}
                        {% else %}
                        <img src="/media/{{m.thumbnail}}" class="card-img-top" alt="{{m.title}}" height="350">
                        {% endif %}
                    </a>
                    <div class="card-content">
                        <h4 class="card-title">
                            <a href="{% url 'explore' m.id %}">
                                {{m.title}} - Sem: {{m.semester}}
                            </a>
                        </h4>
                        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width:100%;" class="">
                            {{m.description}}
                        </p>
                    </div>
                    
                    <div class="card-read-more">
                        {% if request.user.is_superuser %}
                        <a  style="color: black;">Like <i class="fa fa-thumbs-o-up"></i> ({{m.like_count}}) </a>
                        <a style="color: black;" >Dislike <i class="fa fa-thumbs-o-down"></i>
                            ({{m.dislike_count}}) </a>
                        <a style="color: black;">Report <i class="fa fa-flag-o"></i></a>

                        {% elif request.user.is_authenticated %}
                            {% if m.isliked %}
                            <span class="changelike" >
                                <a class="cl" style="color: black;cursor: pointer;" data-sid="{{ m.id }}">Like <i class="fa fa-thumbs-up "></i>(<span
                                        class="lc">{{m.like_count}}</span>)</a>
                                <a class="cdl" style="color: black;cursor: pointer;" data-sid="{{ m.id }}">Dislike <i class="fa fa-thumbs-o-down "></i>(<span
                                        class="dc">{{m.dislike_count}}</span>)</a>
                            </span>
            
                            {% elif m.isdisliked %}
                            <span class="changedislike" data-sid="{{ m.id }}">
                                <a class="cl" style="color: black;cursor: pointer;" data-sid="{{ m.id }}">Like <i class="fa fa-thumbs-o-up "></i>(<span
                                        class="lc">{{m.like_count}}</span>)</a>
                                <a class="cdl" style="color: black;cursor: pointer;" data-sid="{{ m.id }}">Dislike <i class="fa fa-thumbs-down "></i>(<span
                                        class="dc">{{m.dislike_count}}</span>)</a>
                            </span>
                            
                            {% else %}
                            <span class="change" >
                                <a class="cl" style="color: black;cursor: pointer;" data-sid="{{ m.id }}">Like <i class="fa fa-thumbs-o-up "></i>(<span class="lc">{{m.like_count}}</span>)</a>
                                <a class="cdl" style="color: black;cursor: pointer;" data-sid="{{ m.id }}">Dislike <i class="fa fa-thumbs-o-down " ></i>(<span class="dc">{{m.dislike_count}}</span>)</a>
                            </span>
                            {% endif %}
                            {% if m.isreported %}
                            <span class="changereport">
                                <a class="rp" style="color: black;cursor: pointer;" data-sid="{{ m.id }}" >Reported <i class="fa fa-flag"></i></a>
                            </span>
                            {% else %}
                            <span class="changereport ">
                            <a class="rp" style="color: black;cursor: pointer;"  data-sid="{{ m.id }}">Report <i class="fa fa-flag-o"></i></a>
                            </span>
                            {% endif %}
                        {% else %}
                        <a style="color: black;" href="{% url 'like'  %}">Like <i class="fa fa-thumbs-o-up"></i> ({{m.like_count}}) </a>
                        <a style="color: black;" href="{% url 'dislike'  %}">Dislike <i class="fa fa-thumbs-o-down"></i>
                                                        ({{m.dislike_count}}) </a>
                        <a style="color: black;" href="{% url 'report'  %}">Report <i class="fa fa-flag-o"></i></a>
                        {% endif %}
                        <a href="{% url 'explore' m.id %}"class="btn btn-link btn-block">
                            Download
                        </a>
                    </div>
                </div>

            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
{% include 'ajax.html' %}

{% endblock %}